{% extends 'base.html' %}

{%block content%}
<div class="container">
    <div class="alert alert-success mt-2 text-center" role="alert">
        <h4 class="alert-heading">Bem vindo ao <b>Leitor de Mangá</b>!</h4>
        <p>Aqui você encontrará mangás de todos os tipos e em várias linguas. Para poder ter uma melhor experiência, faça seu login abaixo!</p>
        <hr>
        <p class="mt-0 mb-0"><small>Caso queira pular esta parte e ir direto para os mangás, <a href="mangas">clique aqui!</a></small></p>
    </div>

    <form method='POST'>
    <div class="container-fluid row justify-content-center text-center">
        <h2>Log-in</h2>
            <div class="col-lg-6 col-md-8">
                <div class="form-floating mb-3">
                    <input type="user" class="form-control" id="floatingInput" name='user' placeholder="@user" required value="{{ request.form['user'] }}">
                    <label for="floatingInput">Usuário</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" name='password' placeholder="Password" required>
                    <label for="floatingPassword">Senha</label>
                </div>
                <button type="submit" class="btn btn-primary col-lg-3 col-md-4">Entrar</button>
                <p class="lh-sm text-black-50"><small>Ainda não tem cadastro? <br/><a href='#'>Registre-se aqui!</a></small></p>
            </div>
    </div>
    </form> 
</div>
{%endblock%}