{% extends 'base.html' %}

{%block content%}
<div class="container">
    <div class="alert alert-success mt-2 text-center" role="alert">
        <h4 class="alert-heading">Bem vindo ao <b>Leitor de Mangá</b>!</h4>
        <p>Aqui você encontrará mangás de todos os tipos e em várias linguas. Para poder ter uma melhor experiência, faça seu login abaixo!</p>
        <hr>
        <p class="mt-0 mb-0"><small>Caso queira pular esta parte e ir direto para os mangás, <a href="mangas">clique aqui!</a></small></p>
    </div>

    <form action="" method='POST' novalidate>
        {{ form.csrf_token }}
    <div class="container-fluid row justify-content-center text-center">
        <h2>Log-in</h2>
            <div class="col-lg-6 col-md-8">
                <div class="form-floating mb-3">
                    {{ form.username(type="user", class="form-control", id="floatingInput", placeholder="@user") }}
                    {{ form.username.label(for="floatingInput") }}
                </div>
                <div class="form-floating mb-3">
                    {{ form.senha(type="password", class="form-control", id="floatingPassword", placeholder="Password") }}
                    {{ form.senha.label(for="floatingPassword") }}
                </div>
                {{ form.enviar(type="submit", class="btn btn-primary col-lg-3 col-md-4") }}
                <p class="lh-sm text-black-50"><small>Ainda não tem cadastro? <br/><a href='cadastrar'>Registre-se aqui!</a></small></p>
            </div>
    </div>
    </form> 
</div>
{%endblock%}